@import '../../../styles/settings.scss';

.homeSocial {
	&__inner {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 0 3rem;

		&__header {
			display: flex;
			align-items: center;
			gap: 1rem;

			img {
				width: 1.5rem;
				height: 100%;
			}

			a {
				font-size: 1.125rem;
				font-weight: 300;
				color: $black55;
				text-decoration: underline 0.063rem rgba(0, 0, 0, 0);
				text-underline-offset: 0.5rem;
				transition: text-decoration-color 0.3s ease-out;

				&:hover {
					text-decoration-color: $black55;
				}
			}
		}

		&__images {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 1rem;

			&__box {
				width: 100%;
				box-shadow: $shadow-medium;

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: cover;
					cursor: pointer;
					filter: brightness(0.9);
				}
			}
		}
	}

	&__modal {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: 99;
		visibility: hidden;
		opacity: 0;

		&.active {
			visibility: visible;
			opacity: 1;
		}
	}
}

@media screen and (max-width: 1200px) {
	.homeSocial {
		&__inner {
			padding: 0 2rem;
		}
	}
}

@media screen and (max-width: 600px) {
	.homeSocial {
		&__inner {
			gap: 1rem;
			padding: 0 1rem;

			&__images {
				grid-template-columns: 1fr;
				grid-template-rows: repeat(4, 1fr);
			}
		}
	}
}
