@import '../../../styles/settings.scss';

.heroHalf {
	&__wrapper {
		display: flex;
		margin-top: -75vh;
	}

	&__tile {
		position: relative;
		width: 100%;
		height: 100%;
		overflow: hidden;
		box-shadow: $shadow-medium;

		&__info {
			position: absolute;
			bottom: 3rem;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			text-align: center;
			z-index: 2;

			p,
			h4 {
				color: $white;
			}

			p:last-of-type {
				text-underline-offset: 0.5rem;
				text-decoration: underline 0.063rem rgba(0, 0, 0, 0);
				transition: text-decoration-color 0.3s ease-out;
			}
		}

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: transform 0.3s ease-out;
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.3);
		}

		&:hover {
			img {
				transform: scale(1.02);
			}

			.heroHalf__tile__info {
				p:last-of-type {
					text-decoration-color: $white;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.heroHalf {
		&__wrapper {
			flex-direction: column;
		}

		&__tile {
			&__info {
				gap: 0;

				p:last-of-type {
					text-decoration: underline 0.063rem $white;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.heroHalf {
		&__wrapper {
			margin-top: 0;
		}
	}
}
