@import '../../../styles/settings.scss';

.scrollButton{
  &__wrapper {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .scrollButton{
    &__wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &__frame {
      position: relative;
      width: 2.4rem;
      height: 1.2rem;
      border: solid 0.063rem $jet;
      border-radius: 1rem;
      background-color: transparent;
      box-shadow: rgba(67, 71, 85, .27) 0px 0px .25em, rgba(90, 125, 188, .05) 0px .25em 1em;
    }

    &__icon {
      position: absolute;
      top: 50%;
      left: .1rem;
      width: .5rem;
      height: .5rem;
      border-radius: 50%;
      background-color: $jet;
      animation: scroll 1.8s ease infinite;
    }

    @keyframes scroll {
      0% {
        transform: translateY(-50%) translateX(0);
        opacity: 0;
      }
      50% {
        opacity: .8;
      }
      100% {
        transform: translateY(-50%) translateX(1.6rem);
        opacity: 0;
      }
    }
  }
}
