@import '../../../styles/settings.scss';

.product {
	&__wrapper {
		display: flex;
		align-items: flex-start;
		gap: 4rem;
		min-height: 110vh;
	}

	&__images {
		&__container {
			position: sticky;
			top: 2rem;
			width: 55%;
		}

		img {
			width: 100%;
			max-height: 65vh;
			object-fit: contain;
		}

		&:focus {
			outline: none;
		}
	}

	&__info {
		&__container {
			width: 40%;
		}

		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 70%;

		&__header {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			&__title {
				position: relative;

				h3 {
					font-weight: 400;
				}
			}

			&__ref {
				opacity: 0.9;
			}

			&__price {
				display: flex;
				align-items: center;
				gap: 2rem;

				p {
					color: $error;
				}
			}
		}

		&__actions {
			display: flex;
			justify-content: space-between;
			width: 100%;

			&__cart {
				width: 80%;

				button {
					width: 100%;
					font-family: $font;
					font-size: 1rem;
					font-weight: 900;
					background-color: $mint;
					border: none;
					padding: 0.6rem 0;
					cursor: pointer;
					box-shadow: $shadow-medium;
					opacity: 0.9;
				}
			}

			&__wishlist {
				display: flex;
				justify-content: center;
				width: 15%;
				background-color: $black;
				border: none;
				cursor: pointer;
				box-shadow: $shadow-medium;

				img {
					width: 1.75rem;
          height: 100%;
					filter: invert(1);
				}
			}
		}

		&__desc {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			&__button {
				pointer-events: none;

				img {
					display: none;
				}
			}
		}

		&__features {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			&__info {
				&__inner {
					display: grid;
					grid-template-columns: 50% 50%;
					grid-template-rows: 60% 40%;
					column-gap: 1rem;
					row-gap: 2rem;
				}
			}

			&__button {
				pointer-events: none;

				img {
					display: none;
				}
			}

			h5 {
				font-weight: 300;
				margin-bottom: 1rem;
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.product {
		&__wrapper {
			gap: 3rem;
			min-height: 150vh;
		}

		&__images {
			&__container {
				width: 47%;
				margin-bottom: 2rem;
			}
		}

		&__info {
			width: 100%;

			&__container {
				width: 46%;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.product {
		&__wrapper {
			flex-direction: column;
			gap: 4rem;
			min-height: auto;
		}

		&__images {
			&__container {
				position: relative;
				top: 0;
				width: 100%;
				margin-bottom: 0;
			}
		}

		&__info {
			&__container {
				width: 100%;
			}

			&__desc {
				gap: 0;
				padding-bottom: 1rem;

				&__button {
					display: flex;
					align-items: center;
					justify-content: space-between;
					pointer-events: all;

					img {
						display: block;
						width: 1.2rem;
            height: 100%;
						transition: transform 0.3s ease-out;

						&.rotate {
							transform: rotate(180deg);
						}
					}
				}

				&__info {
					display: grid;
					grid-template-rows: 0fr;
					transition: grid-template-rows 0.3s ease-out;

					& > div {
						overflow: hidden;
					}

					&.list-open {
						grid-template-rows: 1fr;
					}

					&__inner {
						transform: translateY(1rem);
						opacity: 0;
						transition:
							transform 0.3s ease-out,
							opacity 0.3s ease-out;

						&.open {
							opacity: 1;
							transform: translateY(0);
						}
					}
				}
			}

			&__features {
				gap: 0;

				&__button {
					display: flex;
					align-items: center;
					justify-content: space-between;
					pointer-events: all;

					img {
						display: block;
						width: 1.2rem;
            height: 100%;
						transition: transform 0.3s ease-out;

						&.rotate {
							transform: rotate(180deg);
						}
					}
				}

				&__info {
					display: grid;
					grid-template-rows: 0fr;
					transition: grid-template-rows 0.3s ease-out;

					& > div {
						overflow: hidden;
						row-gap: 0;
					}

					&.list-open {
						grid-template-rows: 1fr;
					}

					&__inner {
						transform: translateY(1rem);
						opacity: 0;
						transition:
							transform 0.3s ease-out,
							opacity 0.3s ease-out;

						&.open {
							opacity: 1;
							transform: translateY(0);
						}
					}
				}
			}
		}
	}
}
