@import '../../../styles/settings.scss';

.singleProduct {
  &__wrapper {
    min-height: 100svh;
    padding: 8rem 2rem 2rem 2rem;
  }
}

@media screen and (max-width: 600px) {
  .singleProduct {
    &__wrapper {
      padding: 8rem 1rem 2rem 1rem;
    }
  }
}
