@import '../../../styles/settings.scss';

.footer {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
    padding: 3.75rem 2rem 1rem 2rem;
  }

  &__body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    width: 100%;

    &__item {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 20%;

      &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &__icon {
          display: none;
        }
      }

      &__list {
        &__inner {
          display: flex;
          flex-direction: column;
          gap: 2rem;
          pointer-events: none;

          & > * {
            pointer-events: auto;
            transition: opacity .8s $cubic;
          }

          &:hover > * {
            opacity: 0.4;
          }

          &:hover > *:hover {
            opacity: 1;
          }

          &__link {
            width: fit-content;

            a {
              font-size: .9rem;
              color: $jet;
            }
          }
        }
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: flex-end;

    &__socials {
      width: 32%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    &__wrapper {
      gap: 2rem;
      width: 100vw;
      padding: 3.75rem 1rem 1rem 1rem;
    }

    &__body {
      flex-direction: column;
      gap: 0;
      width: 100%;

      &__item {
        gap: 1rem;
        width: 100%;

        &__title {
          padding-top: .5rem;

          h2 {
            font-size: 1.3rem;
          }

          &__icon {
            display: block;

            img {
              display: block;
              width: 1rem;
              transform: rotate(0);
              transition: transform .4s ease-out;

              &.rotate {
                transform: rotate(180deg);
              }
            }
          }
        }

        &__list {
          &__one, &__two, &__three, &__four {
            height: 0;
            visibility: hidden;
            overflow: hidden;
            transition: all .4s ease-out;
          }

          &__one {
            &.open {
              visibility: visible;
              height: 20rem;
            }
          }

          &__two {
            &.open {
              visibility: visible;
              height: 10rem;
            }
          }

          &__three {
            &.open {
              visibility: visible;
              height: 16.5rem;
            }
          }

          &__four {
            &.open {
              visibility: visible;
              height: 6.5rem;
            }
          }
        }
      }
    }

    &__bottom {
      &__socials {
        width: 100%;
      }
    }
  }
}