@import '../../../styles/settings.scss';

.productModal {
	&__wrapper {
		position: relative;
		width: 100%;
		height: 100%;
	}

	&__image {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	&__navigation {
		position: absolute;
		bottom: 1rem;
		right: 1rem;
		display: flex;
		align-items: center;
		gap: 0.5rem;
    padding: 0.5rem 1rem;
		background-color: $white;
		border-radius: 2rem;

		&__button {
			cursor: pointer;

			img {
				display: block;
				width: 1.5rem;
				height: 100%;
			}
		}
	}
}
