//  TRANSITIONS
$quart-out: cubic-bezier(0.165, 0.84, 0.44, 1);
$sine-in: cubic-bezier(0.47, 0, 0.745, 0.715);
$sine-out: cubic-bezier(0.39, 0.575, 0.565, 1);

// SHADOWS
$shadow-light: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
$shadow-medium:
	rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
	rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

//  FONT
$font: 'Inter', sans-serif;
$base-size: 0.875rem;

//  PALLETTE
$jet: rgb(51, 51, 51);
$white: rgb(255, 255, 255);
$seasalt: rgb(250, 250, 250);
$timberwolf: rgb(219, 215, 210);
$cardinal: rgb(186, 59, 70);

$zomp: rgb(83, 153, 135);
$byzantine: rgb(83, 153, 135);
$mountbatten: rgb(154, 122, 160);
