//  TRANSITIONS
$cubic: cubic-bezier(.15, .85, .45, 1);

//  FONT
$font: 'Inter', sans-serif;
$base-size: 1rem;

//  PALLETTE
$jet: rgb(51, 51, 51);
$seasalt: rgb(250, 250, 250);
$timberwolf: rgb(219, 215, 210);
