//  TRANSITIONS
$quart-out: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$sine-in: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$sine-out: cubic-bezier(0.390, 0.575, 0.565, 1.000);

//  FONT
$font: 'Inter', sans-serif;
$base-size: .875rem;

//  PALLETTE
$jet: rgb(51, 51, 51);
$white: rgb(255, 255, 255);
$seasalt: rgb(250, 250, 250);
$timberwolf: rgb(219, 215, 210);
$cardinal: rgb(186, 59, 70);

$zomp: rgb(83, 153, 135);
$byzantine: rgb(83, 153, 135);
$mountbatten: rgb(154, 122, 160);
