@import '../../../styles/settings.scss';

.arrow-prev:before {
  content: '←';
}

.arrow-next:before {
  content: '→';
}

.arrow-prev, .arrow-next {
  position: absolute;
  left: 50%;
  bottom: -3rem;
  z-index: 99;
  cursor: pointer;

  &::before {
    background-color: $jet;
    color: $seasalt;
    padding: .15rem 1.5rem .35rem 1.5rem;
  }
}

.arrow-prev {
  transform: translateX(-101%);
  transition: transform .3s ease-out;

  &:hover {
    transform: translateX(-111%);
  }
}

.arrow-next {
  transform: translateX(1%);
  transition: transform .3s ease-out;

  &:hover {
    transform: translateX(11%);
  }
}
