@import '../../../styles/settings.scss';

.productCard {
  &__wrapper {
    padding: 8rem 1rem;
    min-height: 100vh;
    background-color: $jet;

    h1, h3, p  {
      color: $seasalt;
    }
  }
}
