.productsList {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    min-height: 100svh;
    padding: 8rem 0;

    h1 {
      text-transform: uppercase;
    }
  }
}
