@import '../../../styles/settings.scss';

.cartModal {
  &__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 31rem;
    height: 100svh;
    padding: 1rem 2rem;
    background-color: $seasalt;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4.75rem;
    border-bottom: solid .063rem $timberwolf;

    &__button {
      padding: 0;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &__up {
        width: 1.5rem;
        height: .1rem;
        background-color: $jet;
        transform: rotate(45deg);
      }

      &__down {
        width: 1.5rem;
        height: .1rem;
        background-color: $jet;
        transform: translateY(-.11rem) rotate(-45deg);
      }
    }

    a {
      font-size: 1.5rem;
      font-weight: 700;
      color: $jet;
    }
  }

  &__bag {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    height: 100%;
    padding: 1rem 0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &__items {
      display: flex;
      flex-direction: column;
      gap: .5rem;
    }

    &__images {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        &__img {
          position: relative;

          &__link {
            position: absolute;
            bottom: 1.5rem;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            gap: 4rem;
            width: 100%;
            text-align: center;

            p {
              color: $seasalt;
              font-size: 1.6rem;
              font-weight: 300;
            }

            a {
              font-size: .9rem;
              color: $seasalt;
              text-decoration: underline;
              text-underline-offset: .3rem;
            }
          }

          img {
            width: 100%;
            object-fit: cover;
            filter: brightness(.8);
          }
        }
      }

      h5 {
        font-weight: 400;
      }
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__free {
      border-top: solid .063rem $timberwolf;
      border-bottom: solid .063rem $timberwolf;
      padding: 1rem 0;
      text-align: center;

      p {
        font-size: .8rem;
      }
    }

    &__checkout {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &__total {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      button {
        padding: 1rem 0;
        font-family: $font;
        font-size: 1rem;
        font-weight: 400;
        color: $seasalt;
        border: solid .063rem $jet;
        background-color: $jet;
        opacity: .5;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .cartModal {
    &__wrapper {
      width: 100%;
      padding: 1.3rem 1rem;
    }

    &__header {
      height: 2.5rem;
      padding-bottom: 1rem;
    }
  }
}
