@import '../../../styles/settings.scss';

.productCard {
	&__box {
		&__inner {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			padding: 1rem;
			margin: 1rem;
			background-color: $white;
			cursor: pointer;
			transition: transform 0.3s ease-out;

			&__info {
				display: flex;
				flex-direction: column;
				gap: 0.5rem;

				p {
					font-size: 0.889rem;
				}
			}

			&:hover {
				transform: scale(1.025);
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.productCard {
		&__box {
			&__inner {
				&__info {
					gap: 0.25rem;
				}
			}
		}
	}
}
