@import '../../../styles/settings.scss';

.homeStores {
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 0 3rem 0 3rem;
	}

	&__inner {
		display: flex;
		gap: 2rem;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 30%;

		&__stores {
			display: flex;
			flex-direction: column;
			gap: 0.75rem;

			&__box {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				padding: 0.5rem 1rem;
				border: solid 0.063rem $black;
				cursor: pointer;

				&.box-active {
          box-shadow: $shadow-light;
				}

				&__icon {
					opacity: 0;
					visibility: 0;
					transition:
						opacity 0.1s ease-out,
						visibility 0.1s ease-out;

					img {
						display: block;
						width: 1.5rem;
						height: 100%;
					}

					&.icon-active {
						visibility: visible;
						opacity: 1;
					}
				}
			}
		}

		&__link {
			width: 100%;
			padding: 0.5rem 1rem;
			background-color: $black;
			text-align: center;
			box-shadow: $shadow-medium;
			cursor: pointer;

			p {
				color: $white;
			}
		}
	}

	&__image {
		width: 70%;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			filter: brightness(0.9);
		}
	}
}

@media screen and (max-width: 1200px) {
	.homeStores {
		&__wrapper {
			padding: 0 2rem 0 2rem;
		}
	}
}

@media screen and (max-width: 600px) {
	.homeStores {
		&__wrapper {
			padding: 0 1rem;
		}

		&__inner {
			flex-direction: column-reverse;
			gap: 2rem;
		}

		&__info {
			width: 100%;

			&__stores {
				&__box {
					width: 100%;
					text-align: start;
				}
			}
		}

		&__image {
			width: 100%;
			height: 50vh;
			overflow-y: hidden;
		}
	}
}
