@import '../../../styles/settings.scss';

.productGallery {
	&__wrapper {
		display: grid;
		grid-template-columns: 23.5% 75%;
		grid-template-rows: 100%;
		justify-content: space-between;
		width: 50%;
	}

	&__list {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: repeat(4, 24%);
		align-content: space-between;

		&__item {
			box-shadow: $shadow-light;
			border: solid 0.063rem;
			border-color: $white;
			cursor: pointer;
			transition: border-color 0.3s ease-out;

			&.active {
				border-color: $black75;
			}

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__show {
		border: solid 0.063rem $white;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__productModal {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		opacity: 0;
		visibility: hidden;
		transition:
			opacity 0.3s ease-out,
			visibility 0.3s ease-out;
		z-index: 9;

		&.active {
			visibility: visible;
			opacity: 1;
		}

		&__inner {
			width: 75%;
			height: 80%;
			background-color: $white;
			z-index: 10;
		}
	}
}

@media screen and (max-width: 1200px) {
	.productGallery {
		&__wrapper {
			width: 100%;
		}

		&__productModal {
			&__inner {
				width: 90%;
				height: 80%;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.productGallery {
		&__wrapper {
			width: 100%;
			display: flex;
			flex-direction: column-reverse;
			gap: 1rem;
		}

		&__list {
			grid-template-columns: repeat(4, 24%);
			grid-template-rows: 100%;
			justify-content: space-between;
		}

		&__productModal {
			&__inner {
				width: 100%;
				height: 100%;
			}
		}
	}
}
