@import '../../../styles/settings.scss';

.homeBrands {
	&__wrapper {
		background-color: $white;
		padding: 3rem 0;
	}

	&__brand {
		display: flex !important;
		justify-content: center;
		align-items: center;
		padding: 1rem;

		img {
			display: block;
			width: 10rem;
			height: 10rem;
			object-fit: contain;
			transition: transform 0.3s ease-out;

			&:hover {
				transform: scale(1.035);
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.homeBrands {
		&__wrapper {
			background-color: $white;
			padding: 0;
		}

		&__brand {
			img {
				width: 5rem;
			}
		}
	}
}
