@import '../../../styles/settings.scss';

.homeBrands {
	&__wrapper {
		padding: 1rem 0;
	}

	&__brand {
		display: flex !important;
		justify-content: center;
		align-items: center;

		img {
			display: block;
			width: 10rem;
			height: 10rem;
			object-fit: contain;
			transition: transform 0.3s ease-out;

			&:hover {
				transform: scale(1.035);
			}
		}
	}
}

@media screen and (max-width: 1200px) {
	.homeBrands {
		&__brand {
			img {
				width: 7rem;
				height: 7rem;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.homeBrands {
		&__brand {
			img {
				width: 5rem;
				height: 5rem;
			}
		}
	}
}
