@import '../../../styles/settings.scss';

.homeBrands {
  &__wrapper {
    background-color: $white;
    padding: 0 2rem;
    padding-bottom: 5rem;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 1rem;

    h1 {
      font-size: 1.25rem;
    }

    p {
      font-size: 1rem;
      font-weight: 300;
      opacity: .6;
      text-decoration: underline;
      text-underline-offset: .35rem;
      text-decoration-color: rgba(51, 51, 51, 0);
      transition: text-decoration-color .3s ease-out;

      &:hover {
        text-decoration-color: rgba(51, 51, 51, .6);
      }
    }
  }

  &__brand {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    img {
      display: block;
      width: 10rem;
      height: 10rem;
      object-fit: contain;
    }
  }
}

@media screen and (max-width: 600px) {
  .homeBrands {
    &__wrapper {
      background-color: $white;
      padding: 0 1rem;
    }

    &__brand {
      img {
        width: 5rem;
      }
    }
  }
}
