@import '../../../styles/settings.scss';

.homeBenefit {
	&__wrapper {
		display: flex;
		padding: 8rem 0;
		background-color: $white;
		z-index: 3;
		opacity: 0.9;
	}

	&__box {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
		text-align: center;

		img {
			width: 3rem;
		}
	}
}

@media screen and (max-width: 1200px) {
	.homeBenefit {
		&__box {
			img {
				width: 2rem;
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.homeBenefit {
		&__wrapper {
			flex-direction: column;
			gap: 3rem;
		}

		&__box {
			gap: 1rem;
		}
	}
}
